{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortener</title>
    <link rel="stylesheet" href="{% static 'shortner/style.css'%}">
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
    <link rel="icon" type="image/png" href="{% static 'shortner/favicon.ico' %}" />

</head>

<body>
    <h1>URL Shortener</h1>
    <form method="post" action="{% url 'create' %}"> {% csrf_token %}
        <input type="text" name="link" id="link" placeholder="Enter URL here" required>
        <div class="buttons">
            <button type="submit" id="shorten">Shorten</button>
        </div>
        <section id="section">
            <input  type="text" name="text" id="link" value="{{url}}" readonly>
            <!-- <h2>{{url}}</h2> -->
        </section>
    </form>

    

</body>

</html>